@model TTIPApplication.Models.PLACE

<h2>Details</h2>

<div>
    <h4>PLACE</h4>
    <hr />
    <img src="~/images/@Html.DisplayFor(model => model.DETAIL_IMAGE)" alt="detail_image" style="height : 250px; width:250px;" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STORE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STORE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPLANATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPLANATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY1.CATEGORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY1.CATEGORY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY1.CITY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY1.CITY_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add Review", "Create", "Review", new { id= Model.ID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">REVIEWS</h2>
        <hr class="divider my-4">
        <table class="table">
            <tr>
                <th></th>
                <th>
                    WRITER
                </th>
                <th>
                    SCORE
                </th>
                <th>
                    COMMENT
                </th>
                <th>
                    REGISTED DATE
                </th>
                <th></th>
            </tr>
            @foreach (var item in ViewBag.reviews)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.REVIEW_IMAGE" alt="detail_image" onerror="this.onerror = null;this.src = '/images/404.png';" style="height : 150px; width:150px;" />
                    </td>
                    <td>
                        @item.WRITER
                    </td>
                    <td>
                        @item.SCORE
                    </td>
                    <td>
                        @item.REVIEW_COMMENT
                    </td>
                    <td>
                        @item.UPDATE_DATE
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Review", new { id = item.REVIEW_ID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Review", new { id = item.REVIEW_ID }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</section>