@model TTIPApplication.Models.PLACE

@{
    ViewBag.Title = "Edit";
}
<section class="create_img"></section>
<section>
    <div class="container_test">
        <br>
        <br>
        <h2 class="text-center text-black"> <i class="fa fa-plus-circle fa-1x"></i> Edit </h2>
        <hr class="divider my-4">
        <div class="card w-100">
            <br />
            @using (Html.BeginForm("Edit", "Place", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>PLACE</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.STORE_NAME, htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.STORE_NAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.STORE_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CITY, "CITY", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.DropDownList("CITY", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CATEGORY, "CATEGORY", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.DropDownList("CATEGORY", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CATEGORY, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EXPLANATION, htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.EXPLANATION, 3, 60, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EXPLANATION, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DETAIL_IMAGE, htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            <input type="file" name="upload_image"/>
                            @Html.ValidationMessageFor(model => model.DETAIL_IMAGE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary mb-2" />
                            @Html.ActionLink(" Back", "Details", "Place", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-primary mb-2" })
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</section>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
