@model IEnumerable<TTIPApplication.Models.PLACE>

@{
    ViewBag.Title = "Index";
}

    <section class="search_img" id="services">
        <div class="container">
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2 class="text-center text-white"> <i class="fa fa-hashtag fa-1x"></i> Search </h2>
            <hr class="divider my-4">
            <form action="/Place/" method="post">
                <div class="row">
                    <div class="col-md-3">
                        @Html.DropDownList("CITY", null, htmlAttributes: new { @class = "form-control" })

                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("CATEGORY", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @using (Html.BeginForm())
                        {
                            <p>
                                @Html.TextBox("searchString", null, htmlAttributes : new{ @class= "form-control" })
                            </p>
                        }
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="form-control" value="Search" />
                    </div>
                </div>
            </form>
        </div>
    </section>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            thumnail
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STORE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXPLANATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY1.CATEGORY_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITY1.CITY_NAME)
        </th>
    </tr>

    @foreach (var item in Model)
    {

<tr>
    @{ 
        if (item.DETAIL_IMAGE != null)
        {
        <td>
            <a href="/Place/Details/@item.ID">
                <img src="~/images/@item.DETAIL_IMAGE" alt="detail_image" style="height : 150px; width:150px;" />
            </a>
        </td>
        } else
        {
            <td></td>
        }
    }
    <td>
        @Html.ActionLink(item.STORE_NAME, "Details", new { id = item.ID })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EXPLANATION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ADDRESS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CATEGORY1.CATEGORY_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CITY1.CITY_NAME)
    </td>
</tr>
    }
</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


