@model TTIPApplication.Models.REVIEW

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<section class="create_img"></section>
<section>
    <div class="container_test">
        <br>
        <br>
        <h2 class="text-center text-black"> <i class="fa fa-plus-circle fa-1x"></i> Create </h2>
        <hr class="divider my-4">
        <div class="card w-100">
            <br />
            @using (Html.BeginForm("Create", "Review", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>REVIEW</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.PID, new { @class = "form-control", @Value = @ViewBag.placeInfo.ID })

                    <div class="form-group">
                        @Html.LabelFor(model => model.WRITER, htmlAttributes: new { @class = "ml-5" })
                        <div class="ml-5">
                            @Html.EditorFor(model => model.WRITER, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.WRITER, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UPDATE_DATE, htmlAttributes: new { @class = "ml-5" })
                        <div class="ml-5">
                            @Html.EditorFor(model => model.UPDATE_DATE, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.UPDATE_DATE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.REVIEW_COMMENT, htmlAttributes: new { @class = "ml-5" })
                        <div class="ml-5">
                            @Html.TextAreaFor(model => model.REVIEW_COMMENT, 3, 38, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.REVIEW_COMMENT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="ml-5">
                            <input type="file" class="form-control-file" name="upload_imamge" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SCORE, htmlAttributes: new { @class = "ml-5" })
                        <div class="ml-5">
                            <div class="rate">
                                <input type="radio" id="star5" name="SCORE" value="5" />
                                @Html.Label("star5", "star5")
                                <input type="radio" id="star4" name="SCORE" value="4" />
                                @Html.Label("star4", "star4")
                                <input type="radio" id="star3" name="SCORE" value="3" />
                                @Html.Label("star3", "star3")
                                <input type="radio" id="star2" name="SCORE" value="2" />
                                @Html.Label("star2", "star2")
                                <input type="radio" id="star1" name="SCORE" value="1" />
                                @Html.Label("star1", "star1")
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-20 text-left">
                                <input type="submit" value="Create" class="btn btn-outline-secondary" />
                            </div>
                            <div class="col-md text-left">
                                @Html.ActionLink(" Back", "Details", "Place", new { id = @ViewBag.placeInfo.ID }, htmlAttributes: new { @class = "btn btn-outline-secondary" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
