@model TTIPApplication.Models.review_

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>review_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WRITER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WRITER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCORE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCORE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.substance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.substance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACE.STORE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACE.STORE_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
