@model TTIPApplication.Models.review_

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>review_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WRITER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WRITER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCORE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCORE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.substance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.substance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACE.STORE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACE.STORE_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.REVIEW_NUM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
