@model TTIPApplication.Models.REVIEW

@{
    ViewBag.Title = "Edit";
}
<section class="create_img"></section>
<section>
    <div class="container_test">
        <br>
        <br>
        <h2 class="text-center text-black"> <i class="fa fa-plus-circle fa-1x"></i> Edit </h2>
        <hr class="divider my-4">
        <div class="card w-100">
            <br />
            @using (Html.BeginForm("Edit", "Review", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;REVIEW</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.REVIEW_ID)
            @Html.HiddenFor(model => model.PID)

            <div class="form-group">
                @Html.LabelFor(model => model.WRITER, htmlAttributes: new { @class = "control-label col-md-4", style = "margin-left: 35px" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WRITER, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 35px" } })
                    @Html.ValidationMessageFor(model => model.WRITER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UPDATE_DATE, htmlAttributes: new { @class = "control-label col-md-4", style = "margin-left: 35px" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UPDATE_DATE, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 35px" } })
                    @Html.ValidationMessageFor(model => model.UPDATE_DATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SCORE, htmlAttributes: new { @class = "control-label col-md-5", @style = "margin-left: 35px" })
                <div class="ml-5 row">
                    <div class="rate">
                        @Html.RadioButton("SCORE", 5, Model.SCORE == 5 ? true : false, htmlAttributes: new { @id = "star5" })
                        @Html.Label("star5", "star5")
                        @Html.RadioButton("SCORE", 4, Model.SCORE == 4 ? true : false, htmlAttributes: new { @id = "star4" })
                        @Html.Label("star4", "star4")
                        @Html.RadioButton("SCORE", 3, Model.SCORE == 3 ? true : false, htmlAttributes: new { @id = "star3" })
                        @Html.Label("star3", "star3")
                        @Html.RadioButton("SCORE", 2, Model.SCORE == 2 ? true : false, htmlAttributes: new { @id = "star2" })
                        @Html.Label("star2", "star2")
                        @Html.RadioButton("SCORE", 1, Model.SCORE == 1 ? true : false, htmlAttributes: new { @id = "star1" })
                        @Html.Label("star1", "star1")
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.REVIEW_COMMENT, htmlAttributes: new { @class = "control-label col-md-4", @style = "margin-left: 35px" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.REVIEW_COMMENT, new { htmlAttributes = new { @class = "form-control", @style = "margin-left: 35px" } })
                    @Html.ValidationMessageFor(model => model.REVIEW_COMMENT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" class="form-control-file" name="upload_imamge" value=@Model.REVIEW_IMAGE , style="margin-left:35px" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary mb-2" , style="margin-left:35px" />
                    @Html.ActionLink(" Back", "Details", "Place", new { id = @ViewBag.placeInfo.ID }, htmlAttributes: new { @class = "btn btn-primary mb-2" })
                </div>
            </div>
        </div>
            }
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
