@model IEnumerable<TTIPApplication.Models.review_>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WRITER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.substance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLACE.STORE_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WRITER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.substance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE.STORE_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.REVIEW_NUM }) |
            @Html.ActionLink("Details", "Details", new { id=item.REVIEW_NUM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.REVIEW_NUM })
        </td>
    </tr>
}

</table>
