@model TTIPApplication.Models.PLACE

@{
    ViewBag.Title = "Details";
}

<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">@Html.DisplayFor(model => model.STORE_NAME)</h2>
        <hr class="divider my-4">
        <div class="row">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.place_ex)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.place_ex)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.category1.category_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.category1.category_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CITY1.CITYNAME)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CITY1.CITYNAME)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Add Review", "Create", "review") |
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</section>

<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">REVIEWS</h2>
        <hr class="divider my-4">
        <table class="table">
            <tr>
                <th>
                    WRITER
                </th>
                <th>
                    SCORE
                </th>
                <th>
                    SUBSTANCE
                </th>
                <th>
                    REGISTED DATE
                </th>
                <th></th>
            </tr>
            @foreach (var item in ViewBag.reviews)
            {
                <tr>
                    <td>
                        @item.WRITER
                    </td>
                    <td>
                        @item.SCORE
                    </td>
                    <td>
                        @item.substance
                    </td>
                    <td>
                        @item.UPDATE_DATE
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "review", new { id = item.REVIEW_NUM }, null) |
                        @Html.ActionLink("Delete", "Delete", "review" ,new { id = item.REVIEW_NUM }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</section>