@model TTIPApplication.Models.PLACE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PLACE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STORE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STORE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place_ex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_ex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category1.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category1.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY1.CITYNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY1.CITYNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
