<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trip Tip</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/creative.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/45485ced34.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Trip Tip</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    
        @RenderBody()

<footer class="section section_footer" style="background-color:#151515">
    <div class="container ">
     </br>
        <div class="row">
            <div class="col-sm-4">

                <!-- About Us -->
                <h5 class="section_footer__heading" style="color:orangered">
                    About Us
                </h5>
                <p style="color:dimgrey;">
                    Evaluate various convenience facilities and restaurants and prepare a review to give more accurate information.The goal is to use information to make a better trip.
                </p>

            </div>
            <div class="col-sm-4">

                <!-- Contact info -->
                <h5 class="section_footer__heading" style="color:orangered">
                    Location info
                </h5>
                <ul class="section_footer__info" style="color:dimgrey">
                    <li>
                        Santa Maria, CA
                        West Coast Operations
                        421 East Betterravia, Ste 203
                        Santa Maria, CA 93454
                    </li>
                    <li>
                        <a href="mailto:Indyne@gmail.com">Indyne@gmail.com</a>
                    </li>
                </ul>

            </div>
            <div class="col-sm-4">

                <!-- Opening hours -->
                <h5 class="section_footer__heading" style="color:orangered">
                    Opening hours
                </h5>
                <div class="section_footer__open" style="color:dimgrey">
                    <div class="section_footer__open__days">Monday - Thursday</div>
                    <div class="section_footer__open__time">10:00 AM - 11:00 PM</div>
                </div>
                <div class="section_footer__open" style="color:dimgrey">
                    <div class="section_footer__open__days">Friday - Sunday</div>
                    <div class="section_footer__open__time">12:00 AM - 03:00 AM</div>
                </div>

            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-12">

                <!-- Copyright -->
                <div class="section_footer__copyright" style="color:orangered">
                    © <span id="js-current-year">2020</span> Touché. All rights reserved.
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/custom.js"></script>
</body>
</html>