@model TTIPApplication.Models.photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.photo_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACE.STORE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACE.STORE_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
